@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;700&display=swap');

*
{
  font-family: 'Jost', sans-serif;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}

@media (min-width: 400px)
{
  body
  {
    font-size: 18px;
  }
}

@media (min-width: 600px)
{
  body
  {
    font-size: 22px;
  }
}

header
{
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.menu
{
  background-color: #FAFAFA;
  position: fixed;
  top: 0;
  width: 100vw;
}

.menu ul
{
  display: flex;
  justify-content: space-around;
}

.menu li
{
  list-style: none;
}

a
{
  color: #010101;
  font-weight: 500;
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}

.menu a
{
  color: #121212;
  display: block;
  padding: 10px;
}

.inbox
{
  background-color:  #FAFAFA;
  border-radius: 8px;

  padding: 1cm;
}

.site-title
{
  color: #010101;
  text-align: center;
}

.site-subtitle
{
  color: #121212;
  font-style: italic;
  font-weight: lighter;
  text-align: center;
  font-size: 2em;
}

.img-portfolio
{
  height: 180px;
  width: 180px;
}

section
{
  background-color: #FAFAFA;
}

footer
{
  background-color: #222222;
  text-align: center;
}

footer a
{
  color: #FAFAFA;
}
