@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;700&display=swap');

nav
{
    background: #FAFAFA;
    color: #010101;

    margin: 0;
}

.menu ul
{
    display: flex;
    justify-content: space-evenly;
}

.menu li
{
    list-style: none;
}

a
{
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

body
{
    font-family: 'Jost', sans-serif;
    background-image: linear-gradient(100deg, #f6d365 0%, #fda085 100%);
}

div.box
{
    margin-top: 24px;
    margin-left: 20px;
    margin-right: 20px;

    text-align: center;

    background-color: #FAFAFA;
    border-radius: 8px;
}

footer
{
    text-align: center;
}


